<div class="row">
  <div class="col-md-12">
    <div class="page-header"><h2>{{title}}</h2></div>
  </div>
</div> 
<div class="m-b-18px">
    <div class="col-m-12">
      <a (click)="readRecipes()" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-plus"></span>Read Recipes
      </a>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="update_recipe_form" (ngSubmit)="createUpdateRecipeIngredientsDetailsForm()">
        <table class="table table-hover table-responsive table-bordered">
          <tr>
            <td>
              Name
            </td>
            <td>
              <input name="recipe_name" formControlName="recipe_name" type="text" class="form-control" required />
              <div *ngIf="update_recipe_form.get('recipe_name').touched && update_recipe_form.get('recipe_name').hasError('required')"
                class="alert alert-danger">Name is required
              </div>
            </td>
          </tr>
  
          <tr>
            <td>
              Description
            </td>
            <td>
              <textarea name="recipe_description" formControlName="recipe_description" class="form-control" required>
  
              </textarea>
              <div *ngIf="update_recipe_form.get('recipe_description').touched && update_recipe_form.get('recipe_description').hasError('required')"
                class="alert alert-danger">
                Description is required
              </div>
            </td>
          </tr>
  
          <tr>
            <td>
              Category
            </td>
            <td>
              <select formControlName="category_id" name="category_id" class="form-control" required>
                <option 
                  *ngFor="let category of categories" [selected]="category_id==category.category_id" value="{{category.category_id}}">
                  {{category.category_name}}
                </option>
              </select>
              <div *ngIf="update_recipe_form.get('category_id').touched && update_recipe_form.get('category_id').hasError('required')"
                class="alert alert-danger">Category is required
              </div>
            </td>
          </tr>
  
          <tr>
            <td>
                Ingredients
            </td>
            <td>
              <ul class="checkbox-grid" ngControlGroup="ingredients">
                <li *ngFor="let ingredient of all_ingredients" value="{{ingredient.ingredient_id}}">
                  <input type="checkbox" id="{{ingredient.ingredient_name}}" (change)="ingredientSelected($event, ingredient)" [checked]="ingredient.ingredient_checked==true">
                  <label for="{{ingredient.ingredient_name}}">{{ingredient.ingredient_name}}</label>
                </li>
              </ul>
  
              <div *ngIf="update_recipe_form.get('ingredient_id').touched && update_recipe_form.get('ingredient_id').hasError('required')"
                class="alert alert-danger">
                Ingredients are required
              </div>
            </td>
          </tr>
  
          <tr>
            <td>
              Instruction One
            </td>
            <td>
              <textarea name="instruction_one" formControlName="instruction_one" class="form-control" required>
  
              </textarea>
              <div *ngIf="update_recipe_form.get('instruction_one').touched && update_recipe_form.get('instruction_one').hasError('required')"
                class="alert alert-danger">Instruction one required
              </div>
            </td>
          </tr>
  
          <tr>
            <td>
              Instruction Two
            </td>
            <td>
              <textarea name="instruction_two" formControlName="instruction_two" class="form-control">
  
              </textarea>
              <!--<div *ngIf="update_recipe_form.get('instruction_two').touched && update_recipe_form.get('instruction_two').hasError('required')"
                class="alert alert-danger">Instruction one required
              </div>
              -->
            </td>
          </tr>
  
          <tr>
            <td>
              Instruction Three
            </td>
            <td>
              <textarea name="instruction_three" formControlName="instruction_three" class="form-control">
  
              </textarea>
              <!--<div *ngIf="update_recipe_form.get('instruction_three').touched && update_recipe_form.get('instruction_three').hasError('required')"
                class="alert alert-danger">Instruction one required
              </div>
              -->
            </td>
          </tr>
  
          <tr>
            <td>
              Instruction Four
            </td>
            <td>
              <textarea name="instruction_four" formControlName="instruction_four" class="form-control">
  
              </textarea>
              <!--<div *ngIf="update_recipe_form.get('instruction_four').touched && update_recipe_form.get('instruction_four').hasError('required')"
                class="alert alert-danger">Instruction one required
              </div>
              -->
            </td>
          </tr>
  
          <tr>
            <td>
              Instruction Five
            </td>
            <td>
              <textarea name="instruction_five" formControlName="instruction_five" class="form-control">
  
              </textarea>
              <!--<div *ngIf="update_recipe_form.get('instruction_five').touched && update_recipe_form.get('instruction_five').hasError('required')"
                class="alert alert-danger">Instruction one required
              </div>
              -->
            </td>
          </tr>
  
          <tr>
            <td>
              Instruction Six
            </td>
            <td>
              <textarea name="instruction_six" formControlName="instruction_six" class="form-control">
                
              </textarea>
              <!--<div *ngIf="update_recipe_form.get('instruction_six').touched && update_recipe_form.get('instruction_six').hasError('required')"
                class="alert alert-danger">Instruction one required
              </div>
              -->
            </td>
          </tr>          
  
          <tr>
            <td>
              Difficulty
            </td>
            <td>
              <select formControlName="difficulty_id" name="difficulty_id" class="form-control" required>
                <option
                  *ngFor="let difficulty of difficulties" [selected]="difficulty_id==difficulty.difficulty_id" value="{{difficulty.difficulty_id}}">
                  {{difficulty.difficulty_descr}}
                </option>
              </select>
              <div *ngIf="update_recipe_form.get('difficulty_id').touched && update_recipe_form.get('difficulty_id').hasError('required')"
                class="alert alert-danger">Difficulty is required
              </div>
            </td>
          </tr>
  
          <tr>
            <td>
              Healthy
            </td>
            <td><!--<li *ngIf="recipe?.healthy == 'Yes'"><h4><i class='fa fa-heart' aria-hidden='true'></i>Healthy</h4></li>-->
              <select name="isHealthy" formControlName="isHealthy" class="form-control" required>
                <option *ngFor="let healthy of healthyOptionsArray" [selected]="healthy.state == isHealthy">
                  {{healthy.state}}
                </option>
              </select>
              <div *ngIf="update_recipe_form.get('isHealthy').touched && update_recipe_form.get('isHealthy').hasError('required')"
                  class="alert alert-danger">Select whether recipe is healthy
              </div>
            </td>
          </tr>

          <tr>
            <td>
              Preperation Time
            </td>
            <td>
              <input name="preperation" formControlName="preperation" type="text" class="form-control" required />
              <div *ngIf="update_recipe_form.get('preperation').touched && update_recipe_form.get('preperation').hasError('required')"
                class="alert alert-danger">Preperation time is required
              </div>
            </td>
          </tr>  
          
          <tr>
            <td>
              Vegetarian
            </td>
            <td>
              <select name="isVegetarian" formControlName="isVegetarian" class="form-control" required>
                <option *ngFor="let vegetarian of vegetarianOptionArray" [selected]="vegetarian.state == isVegetarian">
                {{vegetarian.state}}
                </option>
              </select>
              <div *ngIf="update_recipe_form.get('isVegetarian').touched && update_recipe_form.get('isVegetarian').hasError('required')"
                class="alert alert-danger">Select whether recipe is vegetarian
              </div>
            </td>
          </tr>
  
          <tr>
            <td>
              Image
            </td>
            <td>
              <input name="selectFile" id="selectFile" type="file" class="form-control btn btn-success" (click)="chooseFileClicked($event)"/>
              <button type="button" class="btn btn-primary" (click)="uploadImage($event)" value="Upload Image">Upload Image</button>
              <input name="image_id" formControlName="image_id" type="hidden" class="form-control" id="image_id" />
              <div *ngIf="errorUploading" class="alert alert-danger">
                {{imageReturnedText}}
              </div>
            </td>
            <td>
          </tr>
  
          <tr>
            <td></td>
            <td>
              <button id="update-btn" class="btn btn-primary" type="submit" [disabled]="update_recipe_form.invalid">
                  <span class="glyphicon glyphicon-edit"></span> Update
              </button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>