.m-r-10px{ margin-right:10px; }
.m-b-10px{ margin-bottom:10px; }
.m-b-15px{ margin-bottom:15px; }
.m-b-20px{ margin-bottom:20px; }
.w-5-pct{ width:5%; }
.w-10-pct{ width:10%; }
.w-15-pct{ width:15%; }
.w-18-pct{ width:18%; }
.w-20-pct{ width:20%; }
.w-25-pct{ width:25%; }
.w-30-pct{ width:30%; }
.w-35-pct{ width:35%; }
.w-40-pct{ width:40%; }
.w-45-pct{ width:45%; }
.w-50-pct{ width:50%; }
.w-55-pct{ width:55%; }
.w-60-pct{ width:60%; }
.w-65-pct{ width:65%; }
.w-70-pct{ width:70%; }
.w-75-pct{ width:75%; }
.w-80-pct{ width:80%; }
.w-85-pct{ width:85%; }
.w-90-pct{ width:90%; }
.w-95-pct{ width:95%; }
.w-100-pct{ width:100%; }
.display-none{ display:none; }
.padding-bottom-2em{ padding-bottom:2em; }
.width-30-pct{ width:30%; }
.width-40-pct{ width:40%; }
.overflow-hidden{ overflow:hidden; }
.margin-right-1em{ margin-right:1em; }
.right-margin{ margin:0 .5em 0 0; }
.margin-bottom-1em { margin-bottom:1em; }
.margin-zero{ margin:0; }
.text-align-center{ text-align:center; }
ul { list-style-type: none; margin: 0; padding: 0;}
.checkbox-grid li { display: block; float: left; width: 25%;}

#page-header {
    padding-top: 20px;
}

.pagination li:hover {
    cursor: pointer;
}

.list-inline {
    margin-left: 0;
}

.list-inline>li {
    /*padding-left:10px;*/
    padding-right: 0;
    padding-left: 0;
}

.list-inline>li {
    /*margin-left:10px;*/
    /*margin-right:10px;*/
}

.list-inline li h4 {
    padding-right: 10px;
}

.list-inline li h5 {
    padding-right: 10px;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.list-inline li h4 i {
    padding-right: 10px;
    font-size: 20px;
}

.list-inline li h5 i {
    padding-right: 10px;
    font-size: 20px;
}

.vegetarianicon {
    font-size: 30px;
}

@media only screen and (min-width: 201px) and (max-width: 630px){
    .recipe_image {
        position: relative;
        top: 20px;
    }
    .recipe_title {
        position: relative;
        top: -280px;
    }

    .recipe_description {
        position: relative;
        top: -30px;
    }

    .recipe_description p {
        margin: 0;
    }

    .recipe_action_btns {
        position: relative;
        top: -30px;
    }

    .recipe_info {
        padding-left: 0;
        position: relative;
        top: -30px;
    }

    .recipe_title h3 {
        text-align: left;;
    }
}


@media only screen and (min-width: 631px){
    .recipe_image {
        float: left;
        padding: 20px 20px 0 0;
        left: 500px;
    }
    .recipe_title {

    }

    .recipe_description {

    }

    .recipe_title h3 {
        text-align: left;;
    }

    .recipe_info {
        padding: 10px;
        clear: left;
        text-align: left;
    }

    .header-section-description {
        padding: 30px 0 20px 0;
    }
    .header-section-image {
        float: left;
        padding: 20px 20px 20px 0;
    }
}

article {
    padding: 20px;
}

.recipe_image a {
    cursor: pointer;
}

.recipe_title a {
    cursor: pointer;
}

.recipe_action_btns {
    padding: 15px;
}

.header-section-details {
    padding: 20px 20px 20px 0;
}

.header-section-info {
    padding: 20px 0;
}

.ingredient-instructions-sections {
    clear: left;
}

.ingredients {
    float: left;
}

.instructions {
    float: left;
    padding-bottom: 30px;
}

textarea.form-control {
    height: auto;
}


/***/

body {
    font-family: 'Roboto Condensed', sans-serif;
}
h1
{
    text-align: center;
    background-color: #FEFFED;
    height: 70px;
    color: rgb(95, 89, 89);
    margin: 0 0 -29px 0;
    padding-top: 14px;
    border-radius: 10px 10px 0 0;
    font-size: 35px;
}
.main {
    position: absolute;
    top: 50px;
    left: 20%;
    width: 450px;
    height:530px;
    border: 2px solid gray;
    border-radius: 10px;
}
.main label{
    color: rgba(0, 0, 0, 0.71);
    margin-left: 60px;
}
#image_preview{
    position: absolute;
    font-size: 30px;
    top: 100px;
    left: 100px;
    width: 250px;
    height: 230px;
    text-align: center;
    line-height: 180px;
    font-weight: bold;
    color: #C0C0C0;
    background-color: #FFFFFF;
    overflow: hidden;
}
#selectImage{
    padding: 19px 21px 14px 15px;
    position: absolute;
    bottom: 0px;
    width: 414px;
    background-color: #FEFFED;
    border-radius: 10px;
}
.submit{
    font-size: 16px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #e5a900;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    width: 300px;
    border-radius: 5px;
    padding: 10px 0;
    outline: none;
    margin-top: 20px;
    margin-left: 15%;
}
.submit:hover{
    background: -webkit-linear-gradient(#ffdd7f 5%, #ffbc00 100%);
    background: -moz-linear-gradient(#ffdd7f 5%, #ffbc00 100%);
    background: -o-linear-gradient(#ffdd7f 5%, #ffbc00 100%);
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}
#file {
    color: red;
    padding: 5px;
    border: 5px solid #8BF1B0;
    background-color: #8BF1B0;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px #626F7E;
    margin-left: 15%;
    width: 72%;
}
#message{
    position:absolute;
    top:120px;
    left:815px;
}
#success
{
    color:green;
}
#invalid
{
    color:red;
}
#line
{
    margin-top: 274px;
}
#error
{
    color:red;
}
#error_message
{
    color:blue;
}
#loading
{
    display:none;
    position:absolute;
    top:50px;
    left:850px;
    font-size:25px;
}